<template>
  <div class="popup_wrapper" ref="popup_wrapper">
    <div class='v-popup'>
      <div class="v-popup__header">
        <span>{{popupTitle}}</span>
        <span>
        <i
            class="material-icons"
            @click="closePopup"
        >
          close
        </i>
      </span>
      </div>
      <div class="v-popup__content">
        <slot></slot>
      </div>
      <div class="v-popup__footer">
        <button class="close_modal" @click="closePopup">Закрыть</button>
        <button
            class="submit_btn"
            @click="rightBtnAction"
        >
          {{rightBtnTitle}}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "v-popup",
  props: {
    popupTitle: {
      type: String,
      default: 'Popup name'
    },
    rightBtnTitle: {
      type: String,
      default: 'Ok'
    }
  },
  data() {
    return {}
  },
  methods: {
    rightBtnAction() {
      this.$emit('rightBtnAction')
    },
    closePopup() {
      this.$emit('closePopup')
    }
  },
  mounted() {
    let vm = this;
    document.addEventListener('click', function (item) {
      if (item.target === vm.$refs['popup_wrapper']) {
        vm.closePopup()
      }
    })
  },
}
</script>

<style lang="scss">
.popup_wrapper {
  background: rgba(64,64,64, .4);

  height: 5000px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.v-popup {
  padding: 16px;
  position: fixed;
  border-radius: 10px;
  top: 50px;
  //height: 300px;
  width: 350px;
  background: #ffffff;
  box-shadow: 0 0 17px 0 #e7e7e7;
  z-index: 10;
  &__header, &__footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    cursor: pointer;
    //flex-wrap: wrap;
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .submit_btn {
    padding: 8px;
    color: #ffffff;
    border-radius: 5px;
    background: #414a54;
    cursor: pointer;
  }
  .close_modal {
    padding: 8px;
    border-radius: 5px;
    color: #ffffff;
    background: #414a54;
    cursor: pointer;
  }
}
//@media (max-width: 350px) {
//  .hed_menu{
//    flex-direction: column;
//    height: 100px;
//    width: 100px;
//  }
//}
</style>
