<template>
  <div class="v-cart">
    <v-header/>
    <h1>Корзина</h1>
    <p v-if="!cart_data.length">Добавьте товар...</p>
    <v-cart-item
        v-for="(item, index) in cart_data"
        :key="item.article"
        :cart_item_data="item"
        @deleteFromCart="deleteFromCart(index)"
        @increment="increment(index)"
        @decrement="decrement(index)"
    />
    <div class="v-cart__total">
      <p class="total__name">Итого:</p>
      <p>{{cartTotalCost}} ₽</p>
    </div>
    <div class="v-form">
      <form class="obratnuj-zvonok" autocomplete="off" >
        <div class="form-zvonok">
          <div>
            <label>Имя <span>*</span></label>
            <input
                type='text'
                v-model.trim="order.firstname"
                required
            >
          </div>
          <div>
            <label>Номер телефона (+7 ...) <span>*</span></label>
            <input type='number'
                   v-model.number="order.phone"
                   required
            >
          </div>
          <div>
            <label>Сообщение</label>
            <input
                type='text'
                v-model.trim="order.message"
            >
          </div>
          <div>
            <button class="bot-send-mail" v-on:click="submitForm">Оформить</button>
          </div>

        </div>
      </form>
    </div>

  </div>

</template>

<script>
  import VHeader from "@/components/v-header"
  import vCartItem from './v-cart-item'
  import {mapActions} from 'vuex'

  export default {
    name: "v-cart",
    components: {
      vCartItem,
      VHeader
    },
    props:{
      cart_data: {
        type: Array,
        default() {
          return []

        }
      }
    },
    data() {
      return {
        order: {
          firstname: '',
          phone: '',
          message: '',
        }
      }
    },
    computed: {
      cartTotalCost() {
        let result = []

        if (this.cart_data.length) {
          for (let item of this.cart_data) {
            result.push(item.price * item.quantity)
          }
          result = result.reduce(function (sum,el) {
            return sum + el;
          })
          return result;
        } else {
          return 0
        }
      }
    },
    methods: {
      ...mapActions([
        'DELETE_FROM_CART',
        'INCREMENT_CART_ITEM',
        'DECREMENT_CART_ITEM'
      ]),
      increment(index) {
        this.INCREMENT_CART_ITEM(index)
      },
      submitForm() {
        alert("Заказ оформлен")
      },
      decrement(index) {
        this.DECREMENT_CART_ITEM(index)
      },
      deleteFromCart(index) {
        this.DELETE_FROM_CART(index)
      }
    }
}
</script>

<style lang="scss">
  .v-cart {
    border-radius: 10px;
    margin-bottom: 100px;
    &__view {
      border-radius: 15px;
    }
    &__total {
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      padding: $padding*2 $padding*3;
      display: flex;
      justify-content: center;
      background: #414a54;
      color: #ffffff;
      font-size: 20px;
    }
    .v-form {

    }
    .total__name {
      margin-right: $margin*2;
    }
    .obratnuj-zvonok{
      margin: 0 auto;
      width: 100%;
      max-width: 350px;
    }
    .form-zvonok{
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      box-sizing: border-box;
    }
    .form-zvonok div{
      padding: 15px 0;
    }
    .bot-send-mail{
      box-sizing: border-box;
      width: 100%;
    }
    .form-zvonok label,.form-zvonok input{
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
    .form-zvonok label{
      margin-bottom: 5px;
      font-weight: bold;
    }
    .form-zvonok input{
      padding: 10px 15px;
      margin-top: 10px;
    }
    .form-zvonok label span{
      color: #414a54;
    }
    .form-zvonok .bot-send-mail{
      padding: 15px;
      margin-top: 10px;
      background: none;
      border: none;
      text-transform: uppercase;
      color: #fff;
      font-weight: bold;
      background-color: black;
      cursor: pointer;
      border: 3px black solid;
      border-radius: 5px;
    }
    .form-zvonok .bot-send-mail:hover{
      color: #737c9b;
      background-color: #fff;
    }
  }


</style>