<template>
  <div class="v-cart-item">
    <img class="v-cart-item__image" :src=" require('../assets/images/' + cart_item_data.image) " alt="">
    <div class="v-cart-item_info">
      <p>{{cart_item_data.firm}}</p>
      <p>{{cart_item_data.name}}</p>
      <p>{{cart_item_data.memory}}</p>
      <p>Цена:{{cart_item_data.price}}₽</p>


    </div>


    <div class="v-cart-item__quantity">
      <p>Шт:</p>
      <span>
        <span class="quantity__bth" @click="decrementItem">-</span>
      {{cart_item_data.quantity}}
        <span class="quantity__bth" @click="incrementItem">+</span>
     </span>
    </div>
    <button class="butt" @click="deleteFromCart">Удалить</button>


  </div>

</template>

<script>


export default {
 name: "v-cart-item",
 props: {
   cart_item_data: {
     type: Object,
     default() {
       return {}
     }
   }
 },
 data() {
   return {}
 },
 computed: {},
 methods: {

   decrementItem() {
     this.$emit('decrement')
   },
   incrementItem(){
     this.$emit('increment')
   },
   deleteFromCart() {
     this.$emit('deleteFromCart')

   }
 },
 mounted() {
   this.$set(this.cart_item_data, 'quantity', 1)
 }
}
</script>

<style lang="scss">
  .v-cart-item {
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 8px 0 #e0e0e0;
    padding:$padding*2;
    margin-bottom: $margin*2;
    &__image {
      width:100px;
    }

    .quantity__bth {
      cursor: pointer;
    }
  }
  @media (max-width: 520px) {
    .v-cart-item  {
      margin: 0 auto;
      height: 200px;
      flex-direction: column;
    }
  }
  @media (max-width: 320px) {
    .v-cart-item  {
      margin: 0 auto;
      height: 300px;
      flex-direction: column;
    }
  }

</style>