<template>
 <div class="v-catalog-apple">
   <v-header/>
  <h1>Apple</h1>
   <router-link :to="{name:'cart', params:{cart_data: CART}} ">
     <div class="v-catalog1__link_to_cart">Корзина: {{CART.length}}</div>
   </router-link>

   <div class="v-catalog1__list">
     <v-catalog-item
         v-for="product in sortedProducts"
         :key="product.article"
         v-bind:product_data="product"
         @addToCart="addToCart"
     />
   </div>
 </div>
</template>

<script>
import VHeader from "@/components/v-header"
import vCatalogItem from './v-catalog-item'
import {mapActions, mapGetters} from 'vuex'
export default {
name: "v-apple",
  components: {
    vCatalogItem,
    VHeader,
  },
  props:{},
  data() {
    return {
      sortedProducts: [],

    }
  },
  computed: {
    ...mapGetters([
      'PRODUCTS',
      'CART'
    ]),
  },
  methods: {
    ...mapActions([
      'GET_PRODUCTS_FROM_API',
      'ADD_TO_CART'
    ]),
    addToCart(data) {
      this.ADD_TO_CART(data)
    },
    sortByCategories(){

      this.sortedProducts = [...this.PRODUCTS]
      this.sortedProducts = this.sortedProducts.filter(function (item) {
        return item.category < 200
      })

    }
  },
  mounted() {
    this.GET_PRODUCTS_FROM_API()
        .then((response) => {
          if (response.data) {
            this.sortByCategories()

          }
        })
  }
}
</script>

<style lang="scss">
.v-catalog1 {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__link_to_cart {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: $padding*2;
    border: solid 1px #aeaeae;
    color: white;
    background: #414a54;
    border-radius: 15px;
  }
}


</style>