<template>
  <div class="v-catalog-item">

    <v-popup
        v-if="isInfoPopupVisible"
        rightBtnTitle="Купить"
        :popupTitle="product_data.name"
        @closePopup="closeInfoPopup"
        @rightBtnAction="addToCart"
    >
      <img class="v-catalog-item_image" :src=" require('../assets/images/' + product_data.image)" alt="img">
      <div>
        <p class="v-catalog-item_name">{{product_data.firm}}</p>
        <p class="v-catalog-item_name">{{product_data.name}}</p>
        <p class="v-catalog-item_name">{{product_data.memory}}</p>
        <p class="v-catalog-item_price">Цена: {{product_data.price}} ₽</p>

      </div>


    </v-popup>



    <img class="v-catalog-item_image" :src=" require('../assets/images/' + product_data.image)" alt="img">
    <p class="v-catalog-item_name">{{product_data.name}}</p>
    <p class="v-catalog-item_price">Цена: {{product_data.price}} ₽</p>
    <button
        class="v-catalog-item__show-info"
        @click="showPopupInfo"

    >Подробне...
    </button>
    <button class="v-catalog-item_add_to_cart_btn btn" @click="addToCart">Купить</button>
  </div>

</template>

<script>
  import vPopup from '../popup/v-popup'

  export default {
    name: "v-catalog-item",
    components: {vPopup},
    props: {
      product_data: {
        type: Object,
        default() {
        return {}
        }
      }
    },
    data() {
      return {
        isInfoPopupVisible:false
      }
    },
    computed:{

    },
    methods: {
      showPopupInfo() {
        this.isInfoPopupVisible= true;
      },
      closeInfoPopup() {
        this.isInfoPopupVisible= false;
      },
      addToCart() {
        this.$emit('addToCart', this.product_data);
      }
    }
  }
</script>

<style lang="scss">
  .v-catalog-item {
    justify-content:center;
    flex-basis: 25%;
    border-radius: 30px;
    box-shadow: 0 0 8px 0 #e0e0e0;
    padding:$padding*2;
    margin-bottom: $margin*2;
    &_image {
      width: 200px;
    }
  }
  @media (max-width: 710px) {
    .v-catalog-item{

      margin: 0 auto;
    }
  }
  @media (max-width: 520px) {
    .v-catalog-item{
      margin: 0 auto;
    }
  }
</style>