<template>
 <div class="v-contact">
   <router-link :to="{name:'cart', params:{cart_data: CART}} ">
     <div class="v-catalog1__link_to_cart">Корзина: {{CART.length}}</div>
   </router-link>
   <v-header/>
   <h1>Контакты</h1>
   <p>Наш телефон: 586-76-93</p>
   <p>
     Наш адрес: ул. Звездная д.8
   </p>
<div>
  <img class="maps" src="../assets/images/50.jpeg" alt="">
</div>

 </div>
</template>

<script>

import VHeader from "@/components/v-header"
import {mapActions, mapGetters} from 'vuex'
export default {
  name: "v-contact",
  components:{
    VHeader
  },
  computed: {
    ...mapGetters([
      'PRODUCTS',
      'CART'
    ]),

  },
  methods: {
    ...mapActions([
      'GET_PRODUCTS_FROM_API',
      'ADD_TO_CART'
    ]),
    addToCart(data) {
      this.ADD_TO_CART(data)
    }
  },
  mounted() {
    this.GET_PRODUCTS_FROM_API()
        .then((response) => {
          if (response.data) {
            console.log('Data arrived!')
          }
        })
  }
}
</script>

<style lang="scss">
  .maps {
    //width: 500px;
    //height: 400px;
    max-width: 500px;
    max-height: 400px;


  }
  @media (max-width: 520px) {
    .maps{
      max-width: 300px;
    }
  }

</style>