<template>
 <div class="v-header">
   <div class="header_all">

   <div class="logo">

     <router-link  :to="{name: 'mainPage'}">

       <img class="logo_link" src="../assets/images/iPhone.png" alt="">
     </router-link>

   </div>


   <div class="hed_menu">


     <router-link class="to_the_link" :to="{name:'catalogApple'} ">
       <div class="hed_menu__link_to_catalogApple">Apple</div>
     </router-link>
     <router-link class="to_the_link" :to="{name:'catalogSamsung'} ">
       <div class="hed_menu__link_to_catalogSamsung">Samsung</div>
     </router-link>
     <router-link class="to_the_link" :to="{name:'catalogXiaomi'} ">
       <div class="hed_menu__link_to_catalogXiaomi">Xiaomi</div>
     </router-link>
     <router-link class="to_the_link" :to="{name:'contact'} ">
       <div class="hed_menu__link_to_contact">О нас</div>
     </router-link>
   </div>





   </div>
 </div>
</template>

<script>
export default {
name: "v-header"
}
</script>

<style lang="scss">
.header_all {

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.logo_link {

  width: 150px;
}
.hed_menu {

  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  width: 700px;
  height: 40px;
  color: white ;
  background: #2c3e50 ;

}
.to_the_link {
  text-decoration: none;
  color: white;
  font-size: 20px;

}
@media (max-width: 350px) {
  .hed_menu{
    flex-direction: column;
    height: 100px;
    width: 100px;
  }
}

</style>