<template>
 <div class="v-images-item">
   <img :src=" require('../assets/images/'+ item_data.img)">


 </div>
</template>

<script>
export default {
  name: "v-images-item",
  props: {
    item_data: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style>

</style>