<template>
 <div class="wrapper">
    <div class="v-images" :style="{ 'margin-left': '-' + (140 * currentSliderIndex) + '%'}">
      <v-images-item
          v-for="item in images_data"
          :key="item.id"
          :item_data="item"

      />

    </div>
   <button class="but" @click="prevSlide">Prev</button>
   <button class="but" @click="nextSlide">Next</button>

 </div>
</template>

<script>
  import vImagesItem from './v-images-item'
export default {
  name: "v-images",
  components: {
    vImagesItem
  },
  props: {
    images_data: {
      type: Array,
      default: () => []
    },
    interval: {
      type: Number,
      default: 0
    }
  },
  data() {
    return{
      currentSliderIndex: 0
    }
  },
  methods: {
    prevSlide() {
      if (this.currentSliderIndex > 0) {
        this.currentSliderIndex--
      }

    },
    nextSlide() {
      if (this.currentSliderIndex >= this.images_data.length - 1) {
        this.currentSliderIndex = 0
      }else {
        this.currentSliderIndex++
      }
    }
  },
  mounted() {
    if (this.interval > 0) {
      let vm = this;
      setInterval( function () {
        vm.nextSlide()
      },vm.interval)
    }
  }
}
</script>

<style lang="scss">
    .wrapper {
      max-width: 1200px;
      overflow: hidden;
    }
    .v-images {
      display: flex;
      transition: all ease .7s;
    }
    .but {
      border-radius: 15px;
      color: white;
      background: #414a54;
    }

</style>