<template>
 <div class="v-main-page">
   <v-header/>
   <v-images
       :images_data="sliderItems"
       :interval="6000"
   />
 </div>

</template>

<script>
import VHeader from "@/components/v-header";
import vImages from './v-images'

export default {
name: "v-main-page",
  components: {
    vImages,
    VHeader
  },
  data(){
      return {
        sliderItems: [
          {id:1,name:'img1',img: '32.jpg'},
          {id:2,name:'img2',img: '33.jpg'},
          {id:3,name:'img3',img: '39.jpg'},
          {id:4,name:'img4',img: '34.jpg'},
          {id:5,name:'img5',img: '35.jpg'},
        ]
      }
  },
}
</script>

<style lang="scss">

  .hed_menu {

    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 20px;
    width: 600px;
    color: white ;
    background: black;

  }
  .to_the_link {
    text-decoration: none;
    color: white;
    font-size: 20px;

  }

</style>